<?xml version="1.0" encoding="UTF-8"?>

<Context antiJARLooking = "true" path = "/7.1">
    <Resource
        name = "jdbc/store"
        author = "Container"
        type = "javax.sql.DataSource"
        maxActive = "32"
        maxIdle = "8"
        maxWait = "10000"
        username = "root"
        password = "root"
        driverClassName = "com.mysql.cj.jdbc.Driver"
        url = "jdbc:mysql://localhost:3306//store"
    />
</Context>
